body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  /* background: rgb(60, 110, 113); */
  background-image: linear-gradient(
      90deg,
      rgba(60, 110, 113, 0.2) 3%,
      rgba(244, 172, 141, 0.4) 100%
    ),
    url("./images/noise.png");
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(60, 110, 113, 0.85);
  background: linear-gradient(
    90deg,
    rgba(60, 110, 113, 0.2) 3%,
    rgba(244, 172, 141, 1) 100% url(./images/noise.png)
  );
  color: white;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 120px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
